.template-list-loading-spinner {
    position: absolute;
    top: 50%;
    left: 50%;
}

.error label {
    color: red;
}

.footer {
    position: fixed;
    left: 0%;
    bottom: 0%;
    width: 100%;
    background-color: #E8E8E8;
    color: black;
    text-align: left;
    font-size: 13px;
    padding-left: 20px;
}

.error{
    color: red;
}

.dialog-content{
    min-height: 80vh;
}

.container {
    position: sticky;
    top: 0px;
    z-index: 1;
}

footer p a {
    color: #137abb;
}

footer p a:hover {
    text-decoration: underline;
}

.accord-project-logo {
    margin: 100px 0px 100px 0px;
}

.cicero-logo {
    width: 20%;
    margin-top: 10%;
}